# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  vkontakte_api_key:
  vkontakte_api_secret:
  vkontakte_redirect_uri: http://localhost:8080/vkauth
  jwt_secret:
  secret_key_base: 488d58392d99b57c9dd2735ca27d7a8f830f4f1a14e568929c499e3eb83283f31e6527e6d80ee1b0ef775e7e019df91009a613b5f5c76a3f2051ace4cd2be83c

test:
  secret_key_base: 8c38c13b3ab4af494d9594ad1176e41831fe50b461777d40d77e68b288cf7be242c772b71d6ecab87a0718df06e4497ad0c10a73f3dd393d600e876e8e62dc43

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
